body {
    font-family:'Roboto', sans-serif;
    color: white;
    background-color: #EBEBEB;
}
a {
    color: white;
    text-decoration: none;
}
.container {
    max-height: 500px;
    min-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top: 140px;
    
}
.header-container {
    background-color: rgba(48, 48, 48, 0.616);
    min-height: 100px;
    margin-bottom: 40px;
    font-size: 0,8em;
    position: fixed;
    width: 100%;
}
header {
    min-width: 1024px;
    background-color: rgba(48, 48, 48, 0.486);
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    background-color: rgb(5, 94, 64);
    width:30% ;
    margin-bottom: 40px;
  
}

.col p{
    color:white;
    font-size: 0.87rem;
    padding: 20px;
    line-height: 1.1rem;
}

.hide-desktop-only{
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}
.mybutton {
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}
.highlight {
    font-weight: 700;

}
.mob-wrap {
    display: none;
}
/*Tablet */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }
    .hide-desktop-only{
        display: block;
    }  
    .container {
        padding-top: 40px;
    } 
    header {
        display: block;
        text-align: center;
    }
    .header-container {
        position: relative;
    }
    nav a {
        display: block;
    }
    .logo {
        padding: 40px;
    }
    .mybutton {
        margin-left: 0;
    }
    .mob-wrap {
        display: block;
    }
    .mob-nav {
        display: none;
    }
}
/*Smartphone */
@media (max-width: 400px) {
    .col {
        width: 100%;
    }
    .hide-mobile{
        display: none; 
    }
}